* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  height: 450px;
}

.grid input {
  height: 50px;
  width: 50px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}

.sudoku-btns {
  margin: 0 auto;
}

.sudoku-btns button {
  margin: 20px;
  padding: 5px 15px;
  font-size: medium;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  color: white;
}

.sudoku-btns .solve {
  background-color: green;
}

.sudoku-btns .reset {
  background-color: red;
}

.sudoku-btns .solve:active {
  background-color: greenyellow;
  transform: translateY(1px);
}

.sudoku-btns .reset:active {
  background-color: rebeccapurple;
  transform: translateY(1px);
}

.odd-rows {
  background-color: lightgray;
  color: #2c394b;
  border: 1px solid;
}

.even-rows {
  background-color: #eeeeee;
  border: 1px solid gray;
  color: #334756;
}

.message {
  font-size: 20px;
  font-weight: 600;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0 auto;
  margin-top: 20px;
}

.header {
  margin: 20px auto;
  font-size: 24px;
  font-weight: 500;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: cornflowerblue;
}

.disable {
  background-color: gray !important;
}

.success {
  color: green;
}

.failure {
  color: red;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 360px;
    height: 360px;
  }

  .grid input {
    height: 40px;
    width: 40px;
  }
}

@media only screen and (max-width: 400px) {
  .container {
    width: 315px;
    height: 315px;
  }

  .grid input {
    height: 35px;
    width: 35px;
  }
}
